<!DOCTYPE html>
<html>
<head>
    <title>Select Biometric</title>
    <link rel="stylesheet" href="/static/css/biometric_choice.css">
</head>
<body>

<div class="choice-box">
    <h2>Select Biometric Method</h2>
    <p>Please choose one authentication method</p>

    <div class="options">
        <button class="bio-btn" onclick="goFingerprint()">
            🖐️ <br> Fingerprint
        </button>

        <button class="bio-btn" onclick="goFace()"  >
            📷 <br> Face
        </button>
    </div>
</div>



<script src="/static/css/js/biometric_choice.js"></script>
</body>
</html>
