<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>

<form method="post">
  <h2>Register</h2>
  <input name="name" placeholder="Name" required>
  <input name="voter_id" placeholder="Voter ID" required>
  <input name="password" type="password" placeholder="Password" required>
  <button>Register</button>
  <button><a href="/login"> Login</a></button>
</form>



<script src="/static/css/js/register.js"></script>
</body>
</html>

